@model IEnumerable<Teste.GitHub.Domain.Entidades.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuários</h2>

<p>
    @Html.ActionLink("Cadastrar Usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nome Usuário
        </th>
        <th>
           Tipo Usuário
        </th>
        <th>
            Login
        </th>
        <th>
           Data Cadastro
        </th>
        <th>
            Opções
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario.NomeTipoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.UsuarioId }) |
        </td>
    </tr>
}

</table>
