@model Teste.GitHub.Domain.Entidades.Pessoa

@{
    ViewBag.Title = "Detalhes do Cadastro";
}

<h2>Detalhes</h2>

<div>
    <h4>Cadastro de Pessoa - Informações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>


<script>
$(document).ready(function(){


                 $.get("/Pessoas/listarImagens/39", {
				}, function(msg){
				$("#resultado").html(msg);
				})

    });
</script>


<div id=resultado name=resultado>

</div>

<p>
    @Html.ActionLink("Editar Cadastro", "Edit", new { id = Model.PessoaId }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
