@model Teste.GitHub.Domain.Entidades.Pessoa

@{
    ViewBag.Title = "Detalhes do Cadastro";
}

<h2>Detalhes</h2>

<div>
    <h4>Cadastro de Pessoa - Informações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>



<p>
    @Html.ActionLink("Editar Cadastro", "Edit", new { id = Model.PessoaId }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>



@Scripts.Render("~/bundles/jquery")

<input type="text" id="txtName" />
<input type="button" id="btnGet" value="Get Current Time" />

<script type="text/javascript">
        $(function () {
            $("#btnGet").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Pessoas/listarImagens",
                    data: 'id=' + $("#txtName").val() + "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        for (var i in data) {
                            // console.log(data[i]);
                            var ArquivoCaminho = (data[i]["ArquivoCaminho"])
                           // console.log(data[i]["Telefone"])
                            //console.log(data[i]["PessoaId"])

                        }


                        alert("Hello: " + response.ArquivoCaminho + "");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
</script>

